body{
    /* background: linear-gradient(180deg, #012840, #021826, #011C26, #025959, #0F8C8C); */
    background: linear-gradient(135deg, #87CEFA, #8A2BE2);
    font-family: "DM Sans", sans-serif;
    color: rgb(43,41,43);
    background-attachment: fixed;
    margin: 0;
    padding: 0;

}
.content{
    box-shadow: 5px 5px 5px #bebebe, -5px -5px 5px #f5f5f5;
    background-color: rgb(246,246,244,255);
    width: 90%;
    height: auto;
    margin: auto auto;
    margin-top: 60px;
    padding: 15px;
    border-radius: 15px;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
}
.menu .menu_side{
    display: flex;
}
.menu .menu_side img{
    width: 80px;
    height: auto;
    padding: 8px;
}
.menu .menu_navigation ul{
    display: flex;
    justify-content: space-between;
}
.menu .menu_navigation ul li{
    text-decoration: none;
    list-style-type: none;
    text-transform: none;
    margin: 15px;
}

.menu .menu_navigation ul a{
    text-decoration: none;
    list-style-type: none;
    text-transform: none;
    color: #000;
}
#last_span{
    background-color: #000;
    color: #f5f5f5;
    padding: 5px;
    border-radius: 10px;
    
}
.about{
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
}
.about img {
    padding: 0 100px 0 0;
    width: 325px;
    height: auto;
}
.about .about_introduction{
    width: 50%;
}
.about .about_introduction .title{
    font-weight: 700;
    font-size: 30px;
}
.about .about_introduction .paragraph{
    font-weight: 500;
    font-size: 19px;
}
.carrer_content{
    display: flex;
    justify-content: center;
    margin: 80px;
}
.carrer_content .carrer_description{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 80px;
}
.carrer_content .carrer_description .text{
    width: 65%;
}
.carrer_content .carrer_description .title{
    font-weight: 700;
    font-size: 20px;
}
.carrer_content .carrer_description .paragraph{
    font-weight: 600;
    font-size: 16px;
}
.carrer_content .carrer_stats {
    margin-right: 80px;

}
.carrer_content .carrer_stats ul{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px; 
}
.carrer_content .carrer_stats ul li{
    text-decoration: none;
    list-style-type: none;
    text-transform: none;
    margin: 40px 15px 0 0;
    padding: 5px;
    /* box-shadow: 1px 2px; */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.carrer_content .carrer_stats ul li img{
    width: 50px;
    height: auto;
}
